<%= render :partial => "slider" %>
<div class="img-right">
 <%= image_tag("satlite.gif", alt: "File Name Fancy", size: "2150*2150")%>
 </div>
<h5>WELCOME TO PARK CONTROLS</h5>
 
Park Controls & Communications Ltd., is two decades old, established in 1989 by technocrats with strong technical background and in-depth domain knowledge of core technologies. The company services technology intensive requirements of clients within the Defense and Aerospace domains.<br>

The company caters to customized and exclusive requirements in the Defense, Space and Aerospace domains with End to End Data Acquisition Solutions for Airborne and Ground based Applications particularly specializing in PCM Telemetry, Timing and Control products and design services.<br>

Park Controls & Communications Ltd., also specializes in extending services customized Automated Test Equipments (ATE) within the Avionics domain irrespective of the nature of the tests. The tests could pertain to Navigation, EW, Radar, Display, Communications, Engines, etc. The company is proud to have associated with numerous efforts in upgrading Legacy Test Benches providing improved features and life extensions for more than 10 years. Complex designs of New Test Benches have also been realized very successfully.<br>

Park Controls & Communications Ltd., has the unique ability to design and develop complete systems on turnkey basis including hardware and software right from chip level ground up to complete systems including firmware, device drivers, system level Application Software, etc.<br>

Park Controls & Communications Ltd., is a recognized vendor to handle Defence Offset related projects. The company is ready to undertake projects that would help MNCs/OEMs to acquire offset credits through successful execution of projects.<br>

Park Controls & Communications Ltd., is proud of their Mission Statement
"To become globally competitive and professionally managed business enterprise providing Defense and Aerospace solutions and End to End data acquisition applications of supreme quality in a dynamic and growth oriented world market".
<style>
   div.img-right{
     float: right;
   }
  </style>