<%= render :partial => "slider" %>
<h5>SERVICES</h5>
 
  <%= image_tag("soft_1.gif", alt: "File Name Fancy", :class=>"img-right", size: "2150*2150")%><br>
 <%= image_tag("test_eqip.gif", alt: "File Name Fancy", :class=>"img-right", size: "2150*2150")%>
Park Controls & Communications Ltd., extends design and maintenance services. The services provided are comprehensive for a variety of Applications and the nature of these services pertain to:

	<h5>» Engineering Design</h5>
	<h5>» Automatic Test Equipment</h5>
	<h5>» Maintenance Services</h5>

<h5>ENGINEERING DESIGN</h5>

Park Controls & Communications Ltd., has extensive hardware and software design experience in the areas of End to End Data Acquisition, Digital communication systems, Control systems, Test systems, etc. using various families of micro-controllers, digital signal processors and FPGA devices.<br><br>


Park Controls' hardware design experience encompasses DSP design, FPGA design, and board design for applications in the areas of End to End Data Acquisition for Airborne and Ground Applications, digital communications, timing, telemetry, etc.<br><br>


Park Controls has excellent experience in designing, developing and testing real-time data acquisition and processing software for Telemetry, embedded software for digital communication systems and software for Automatic Test Systems.<br><br>

Park Controls follows rigorous quality control procedures during the development life cycle and employs standards like DOD 2167A, MIL 498 and IEEE 12207 for their software development.<br><br>

Park Controls' undertakes and services turnkey jobs from concept to implementation; total system design and implementation starting from specifications, as well as offering specific services related to an individual area of expertise.<br>

<h5>Software Services:</h5>

	• Platform based Application Development<br>
	• Software Tool Development<br>
	• Software Porting<br>
	• Embedded Application Development<br>
	• Firmware Development<br>
	• Device Drivers

<h5>Hardware Services:</h5>

	• PCB Design Services<br>
	• FPGA Design services<br>
	• DSP Design services<br>
	• Product Engineering services<br><br>

The company has extensive facilities both in house and outsourced to productionize and supply the designed and developed products and systems in quantities.

          



<style>
	img.img-right{
    float: right;


	}

</style>.