<%= render :partial => "slider" %>
<div class="img-right">
   <%= image_tag("aboutus.gif", alt: "File Name Fancy", :class=>"img-right", size: "2150*2150")%>
</div>
<h5>ABOUT US</h5>
Park Controls & Communications Ltd., services the very unique customized technology intensive needs of customers who include DRDO labs and ranges, ISRO Labs and ranges, Defence Services, Defence Avionics OEMs, etc.

The company operates out of their fully equipped facility in the city of Bangalore, India with good quality infrastructure that includes design and test tools and manpower that is a cut above the rest.
<br>
The company enjoys the following Accreditations:

	»<h5> »Approved R&D Unit under the Ministry of Science & Technology</h5>
	<h5>» ISO 9001:2000 certified by UL Inc</h5>
	
	• Design & Development, Manufacture, Installation and Servicing of Electronic System Products such as Telemetry, Timing and Automated Test Equipment
	<br>
	• Provision of Software for the Design and Development of Electronics System Products
	<br>

	<h5>» CEMILAC – (Centre for Military Airworthiness & Certification) approved for undertaking design, development and supply of Airborne LRUs</h5>
	
	• Design of Electronic System LRUs using embedded / DSP technologies for Telemetry, Timing, Radar, Avionics, etc.
	<br>
	• Electronic Design Services for Airborne Equipment
	<br>
	<h5>» AS9100, Rev B certified by DSQ-UL</h5>

	
	• The Design, Development, Manufacture, Installation and Servicing of Telemetry and Timing Equipments, Automated Test Equipments and Airborne Data Acquisition modules for Defence and Aerospace applications
	<br>
	• The Design & Development of Distributed Data Acquisition, Monitoring and Processing
	<br>
	• Software for Aerospace and Defence applications

	<h5>» Defense Offset Facilitation Agency recognized company</h5>
	<h5>» Registered with EHTP - Electronics Hardware Tech. Park</h5>

The company's offering of products and services include the following areas of specialization:

	<h5>» End to End Data Acquisition products and systems for all applications particularly for</h5>
	
	• Telemetry<br>
	• Timing<br>
	• Control

	<h5>» Automated Test Equipments for</h5>
	
	• Defence and Avionics LRUs<br>
	• Ground Checkout Systems<br>
	• Large cluster of UUTs
	<h5>» Engineering Services for</h5>
	
	• System / Product design<br>
	• Legacy Upgrade of products / systems<br>
	• Form, Fit & Function replacement

	<h5>» Maintenance Services for</h5>
	
	• System Level trouble shooting<br>
	• Third party /OEM supplied systems and products<br>
	• Maintenance Services on behalf of OEMs

The company services Indian and overseas clients with in depth skills in Embedded Systems design and development.
	<h5>---------------------------2015.....................</h5>

<style>
   div.img-right{
     float: right;

   }
</style>