<%= render :partial => "slider" %>
<div class="img-right">
 <%= image_tag("our_clients.jpg", alt: "File Name Fancy", size: "2150*2150")%>
 </div>
<h5>CLIENTS</h5>

Park Controls & Communications Ltd., enjoys the confidence of very esteemed user groups within the Indian Defence R&D labs, Ranges and Services and also within the Indian Space Research Organization.<br>

The company has successfully met with every customer’s specific requirements through product offerings that precisely fit into the user expectations.<br>

Product Engineering services have resulted in customized and indigenized solutions. Many products and systems that hitherto have been imported are provided with indigenous alternatives enabling the Indian Defence and Space programs move closer to self dependence for technologies once considered the forte of company outside India.<br><br>

Our partial list of satisfied customers includes:

<h6>Indian Space Research Organisation (ISRO), Telemetry, Tracking & Command Network (ISTRAC)</h6>

Telemetry Modules<br>
Timing Modules<br>
<h6>Vikram Sarabhai Space Center</h6>
Telemetry Modules<br>
Timing Modules<br>
<h6>ISRO Satellite Center</h6>
Telemetry System<br>
<h6>Space Applications Center</h6>
Telemetry Modules<br>
<h6>Satish Dhawan Space Center (SHAR)</h6>
Timing Modules<br>
Antenna Control Units<br>
Master Control Facility<br>
Telemetry Modules<br>
Timing Modules<br>
<h6>Liquid Propulsion Systems Centre</h6>
Timing Modules<br>
<h6>Aeronautical Development Agency</h6>
Comprehensive Telemetry Data Acquisition and Processing Station<br>
Timing Modules
<h6>Integrated Test Range</h6>
Comprehensive Telemetry Data Acquisition and Processing Station<br>
Timing Systems<br>
Antenna Control Units
<h6>Defence Research & Development Laboratory</h6>
Comprehensive Telemetry Data Acquisition and Processing Station<br>
Timing Modules
<h6>Research Center Imarat</h6>
Comprehensive Telemetry Data Acquisition and Processing Station<br>
Timing Modules
<h6>Hindustan Aeronautics Limited</h6>
Comprehensive Telemetry Data Acquisition and Processing Station<br>
Timing Modules<br>
Automated Test Benches
<h6>Bharat Electronics Limited</h6>
Comprehensive Telemetry Data Acquisition and Processing Station<br>
Timing Modules
<h6>Electronics Corporation of India Limited</h6>
Time Reference Systems<br>
<h6>Central Scientific Instruments Organization</h6>
Head Up Display Test Bench<br>
<h6>Software Development Institute</h6>
INS Test Bench<br>
HUDWAC Promming Station
<h6>National Aerospace Laboratories</h6>
Telemetry Data Acquisition and Processing Station<br>
Generic Data Acquisition Modules
<h6>Aircraft & Systems Testing Establishment (ASTE)</h6>
Comprehensive Telemetry Data Acquisition and Processing Station<br>
<h6>Aeronautical Development Establishment</h6>
Comprehensive Telemetry Data Acquisition and Processing Station<br>
Timing Modules
<h6>Electronics & Radar Development Establishment<
Timing Modules
 <style>
   div.img-right{
     float: right;
   }
  </style>