<%= render :partial => "slider" %>
<h5>Overview</h5>
Park Controls & Communications Ltd., specializes in supporting products that are Industrial, MIL and Airworthiness certified.<br>

The product portfolio includes those that are used for:<br>

<h6>•	End to End Data Acquisition Solutions</h6>
<h6>•	PCM Telemetry Solutions</h6>
<h6>•	Timing Solutions</h6>
<h6>•	Control Solutions</h6>
<h6>•	Test Benches for any Avionics LRU</h6>

The products can be supplied as individual items are integrated into a total system which warrants the use of third party products to realize the final system on a turn key basis.<br><br>

Park Controls & Communications Ltd., also specializes in product engineering wherein the customer specifies the concept and the final realization of the product rests with the company.<br><br>

The company follows the International Development Life Cycle procedures and maintains strict adherence to Quality and Time line issues.<br>

The Design so realized and approved by the customer can also be undertaken for production of the product evolved in quantities.
