<%= render :partial => "slider" %>
<h5>WARRANTY POLICY</h5>

<h6>The Warranty on the system / card/ unit supplied is subject to the following conditions:</h6>

WARRANTY STANDS VOID IN CASE OF ANY PHYSICAL DAMAGE TO THE SYSTEM/CARD/UNIT SUPPLIED OR ANY ATTEMPT MADE TO OPEN THE DELIVERED SYSTEM/CARD/UNIT IN THE ABSENCE OF COMPANY ENGINEER RENDERING THE SYSTEM SUPPLIED NON-FUNCTIONAL AT THE CUSTOMER PLACE.<br>

WARRANTY STANDS VOID IF ANY SYSTEM/CARD/UNIT IS BURNT OR IS MADE NON-FUNCTIONAL DUE TO ELECTRICAL PROBLEMS LIKE SHOCK/ POWER SURGE/ FIRE AT THE CUSTOMER SITE.<br>

WARRANTY STANDS VOID IF THE DELIVERED AND ACCEPTED SYSTEM/CARD/UNIT IS REPAIRED WITHOUT PRIOR INFORMATION TO AND APPROVAL FROM PARK CONTROLS IN WRITING OR IF ANY UNAUTHORIZED PERSON/COMPANY MAKES AN ATTEMPT TO SERVICE THE SAME.<br>

WARRANTY STANDS VOID IF THE SYSTEM/CARD/UNIT SUPPLIED IS USED IN A MANNER OTHER THAN THAT SPECIFIED IN THE ACCEPTANCE TEST REPORT THAT WOULD MAKE THE SYSTEM NON FUNCTIONAL.<br>

WARRANTY STANDS VOID IF THE SYSTEM/CARD/UNIT IS FOUND DAMAGED DUE TO INTERFACING WITH OTHER SYSTEMS WITHOUT PRIOR INFORMATION TO AND APPROVAL FROM PARK CONTROLS IN WRITING
WARRANTY STANDS VOID IF THE SERIAL NO AND MANUFACTURER SEAL IS BROKEN OR IS REMOVED.<br>

<h5>CUSTOMER COMPLAINT PROCEDURE</h5>

The system/card/unit supplied to each customer has undergone extensive tests and procedural care has been taken to ensure superior quality. However in the unlikely event of a failure of the system/card/unit supplied the customer is requested to follow the procedure given below for speedy attention of any complaint.<br>

1)	Complaints in written form indicating the date and specific problem(s) faced are to be addressed to Customer Support Department. It is easier to keep track of complaint when lodged in writing to the Customer Support Department.<br>

2)	A written acknowledgement is sent to every written complaint.<br>

3)	In case of complaints that are to be placed orally such complaints are received by the front office during office hours and every complaint is registered the front office.<br>

4)	For all complaints a compliant registration number is furnished to the person placing the complaint. This number has to be referred in all correspondence and enquiries regarding this complaint.<br>

5)	The complaint will be attended to, within 24 hours in case of installations within Bangalore and 48 to 72 hours in case of installations outside Bangalore.<br>

6)	All efforts will be made to rectify the fault at the earliest possible time period.